# Secrets principaux
MASTER_KEY="please-change-me"
JWT_SECRET="change-me"
DATABASE_URL="postgresql://smtp:smtp@postgres:5432/smtp_oauth2?schema=public"
REDIS_URL="redis://redis:6379"

# Proxy
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1
OUTBOUND_ALLOWLIST="graph.microsoft.com,login.microsoftonline.com"

# Traefik / TLS
TRAEFIK_ENTRYPOINTS="web,websecure"
TLS_CERT_FILE=/certs/server.crt
TLS_KEY_FILE=/certs/server.key
CA_BUNDLE=/certs/ca.pem
TLS_SELF_SIGNED_SUBJECT="/CN=smtp-oauth2.local"
TLS_SELF_SIGNED_DAYS=365

# Azure Graph
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_AUTHORITY=https://login.microsoftonline.com/
GRAPH_SCOPES="https://graph.microsoft.com/.default"

# SMTP listener
SMTP_HOST=0.0.0.0
SMTP_PORT=2525
SMTP_ACCEPT_ALL=true

# API
PORT=3000

# UI
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
